<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Note</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <style>
    </style>
</head>

<body>
<div class="container">
    <h2 class="mt-4">Edit Note</h2>

    <form method="post" th:action="@{/note/edit}">
        <input type="hidden" name="id" th:value="${note.id}"/>
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title" th:value="${note.title}" required/>
        </div>
        <div class="form-group">
            <label for="content">Content:</label>
            <input type="text" class="form-control" id="content" name="content" th:value="${note.content}" required/>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <a class="btn btn-secondary mt-3" th:href="@{/note/list}">Back to List</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>

